body{
    background-image: url(https://lms.misiontic2022udea.com/theme/image.php/misiontic/theme/1654218085/bg-login-mision-tic);
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
}